<div class="posts col-12">
  <h3>Microposts (<%= @user.microposts.count %>)</h3>
  <% @microposts.each_slice(3) do |a,b,c| %>
    <ul  align-items-start">
      <li class="post col-4">
        <% if a !=nil %>
          <%= link_to image_tag(a.display_image), microposts_index_path(a)%>
        <% end %>
      </li>
      <li class="post col-4 img-responsive">
        <% if b !=nil %>
          <%= link_to image_tag(b.display_image), microposts_index_path(b)%>
        <% end %>
      </li>
      <li class="post col-4 img-responsive">
        <% if c !=nil %>
          <%= link_to image_tag(c.display_image), microposts_index_path(c)%>
        <% end %>
      </li>
    </ul>
  <% end %>
</div>

